.question-section {
	padding: 10px 20px;
	border-bottom: 2px solid #b2beb5;
}

.question-title-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.question-resolved-label {
	font-size: 14px;
	font-weight: 600;
	color: #676767;
	background-color: #91ecec;
	border: 2px solid #6691ca;
	margin: 0;
	padding: 2px 20px;
}

.question-content-container {
	padding: 5px 10px;
}

.question-subtext-container {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.answer-content-container {
	margin-top: 30px;
	padding: 5px 0;
	display: flex;
}

.answer-subtext-container {
	display: flex;
	width: 100%;
}
