.doubtCard-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border: 2px solid #b2beb5;
	width: 100%;
	margin: 10px 0;
	background-color: #dfe3ee;
}
.doubtCard-content-container {
	margin-left: 10px;
}

.doubtCard-btn-container {
	margin-right: 10px;
	padding: 0.5rem;
}
