* {
	box-sizing: border-box;
	font-family: monospace;
}
.page-header {
	font-size: 30px;
	font-weight: bolder;
	color: #676767;
	margin: 0;
}

.page-content-title {
	font-size: 18px;
	font-weight: 600;
	color: #676767;
	margin: 0;
}

.page-content {
	font-size: 14px;
	font-weight: 600;
	color: #676767;
	margin: 0;
}
.page-content-bold {
	font-size: 15px;
	font-weight: bold;
	color: #676767;
	margin: 0;
}

.page-content-subtext {
	font-size: 12px;
	font-weight: 600;
	color: #676767;
	margin: 0;
}
